<div class="side-menu">
    <ol>
        <li class="tab-button">
            <a routerLink="/pivot-table-demo" routerLinkActive="active">PIVOT TABLE DEMO</a>
        </li>
    </ol>
    <div class="sub-title">API and Events</div>
    <ol>
        <li class="tab-button">
            <a routerLink="/calling-events" routerLinkActive="active">CALLING EVENTS</a>
        </li>
        <li class="tab-button">
            <a routerLink="/using-api-calls" routerLinkActive="active">USING API CALLS</a>
        </li>
        <li class="tab-button">
            <a routerLink="/updating-data" routerLinkActive="active">UPDATING DATA</a>
        </li>
    </ol>
    <div class="sub-title">Customization</div>
    <ol>
        <li class="tab-button">
            <a routerLink="/customizing-toolbar" routerLinkActive="active">CUSTOMIZING THE TOOLBAR</a>
        </li>
        <li class="tab-button">
            <a routerLink="/customizing-grid" routerLinkActive="active">CUSTOMIZING THE GRID</a>
        </li>
    </ol>
    <div class="sub-title">Integration</div>
    <ol>
        <li class="tab-button">
            <a routerLink="/with-highcharts" routerLinkActive="active">WITH HIGHCHARTS</a>
        </li>
    </ol>
</div>