<h3 class="page-title">
    How to call <a target="blank" href="https://www.flexmonster.com/api/events/">Flexmonster events</a> example
</h3>

<div class="description-blocks first-description-block">
    <p>
        Perform an action (for example, click on a grid cell) to trigger a
        <a target="blank" href="https://www.flexmonster.com/api/events/">Flexmonster event</a>.
        Scroll down to the log output to see which events get triggered.
    </p>
</div>

<button class="button-red" (click)="signOffAllEvents()">Sign off all events</button>
<button class="button-red" (click)="signOnAllEvents()">Sign on all events</button>

<fm-pivot #pivot [report]="'https://cdn.flexmonster.com/reports/report.json'" [toolbar]="true"
    (ready)="signOnAllEvents()">
</fm-pivot>

<div class="description-blocks first-description-block">
    <button class="button-red" (click)="clearLogs()">Clear Log Output</button>
    <div #logsContainer class="logs-container">
        <div *ngFor="let log of logs" class="log">
            <span class="log-label">[ Event ] {{ log.date | date:'mediumTime' }}: </span>
            {{ log.event }} [ <a class="log-link" target="_blank"
                href="https://www.flexmonster.com/api/{{ log.event }}">see details</a> ]
        </div>
    </div>
</div>