<h3 class="page-title">
    Integrating <a target="_blank" class="title-link" href="https://www.flexmonster.com/doc/integration-with-amcharts/">with amCharts</a>
</h3>

<div>
    <fm-pivot #pivot [toolbar]="true" [report]="'https://cdn.flexmonster.com/reports/report.json'"
        [licenseFilePath]="'https://cdn.flexmonster.com/jsfiddle.charts.key'"
        (reportcomplete)="onReportComplete()">
    </fm-pivot>
</div>

<div class="chart-container">
    <div id="amcharts-container" style="width: 100%; height: 500px;"></div>
</div>
