<h3 class="page-title">
    Using <a target="blank" class="title-link" href="https://www.flexmonster.com/api/methods/">Flexmonster API
        calls</a>
</h3>

<div class="description-blocks">
    <app-toggle-switch [_id]="'viewToggle'" (clicked)="toggleView($event)" [labenOn]="'Show grid'" [labenOff]="'Show Column chart'">
    </app-toggle-switch>
    <app-toggle-switch [_id]="'modeToggle'" (clicked)="toggleMode($event)" [labenOn]="'Make interactive'" [labenOff]="'Make read-only'">
    </app-toggle-switch>
</div>

<fm-pivot #pivot [report]="report"></fm-pivot>
