<header class="mainheader fixed-head">
    <div class="container-xl">
        <a href="https://www.flexmonster.com/?r=rm_ng" target="blank" class="logo">
            <img src="https://www.flexmonster.com/base/assets/img/svg/logo.svg" alt />
        </a>
        <ul class="mainnav">
            <li class>
                <a href="https://www.flexmonster.com/doc/integration-with-angular/?r=rm_ng" target="_blank">Integration with Angular</a>
            </li>
            <li class>
                <a href="https://www.flexmonster.com/doc/?r=rm_ng" target="_blank">Docs</a>
            </li>
            <li class>
                <a href="https://www.flexmonster.com/help-center/?r=rm_ng" target="_blank">Help center</a>
            </li>
            <li class>
                <a href="https://www.flexmonster.com/contact/?r=rm_ng" target="_blank">Contact us</a>
            </li>
        </ul>
    </div>
</header>