.button-container{
  width: 100%;
  text-align: center;
}
.route-button {
  border: 2px solid #df3800;
  background: #fff;
  color: #df3800;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: normal;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 14px;
}
.route-button:hover, .route-button:focus {
  border: 2px solid #df3800;
  background: #df3800;
  color: #fff;
}
.route-button:focus {
  outline: none;
}