#fm-pivot-view #fm-grid-view .fm-total-classic-r {
  background-color: #B2DBBF !important;
}
#fm-pivot-view #fm-grid-view .fm-grand-total-r {
  background-color: #70C1B3 !important;
}
#fm-pivot-view #fm-grid-view .fm-grand-total-c {
  background-color: #247BA0 !important;
}