.wrap {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.side-menu-wrap {
    background: #fff;
    position: relative;
    display: flex;
}

.pivot-example-container {
    float: left;
    width: 75%;
    min-width: 605px;
    padding: 30px 40px;
    background: #fff;
    padding-top: 0;
}