<h1 class="title-one page-title">Updating the data in Flexmonster</h1>

<div class="description-blocks first-description-block">
    <p>
        This demo shows how to refresh the data at runtime and keep the slice, options, and formatting the same.
    </p>
    <p>Try it yourself: configure the component as you wish and click the <strong>UPDATE DATA</strong> button.</p>
    <p>Learn more about updating the data
         in <a href="https://www.flexmonster.com/api/updatedata/?r=rm_ng" target="_blank" class="title-link">our documentation</a>.
    </p>
</div>

<button class="button-red" (click)="updateTheData()">Update data</button>

<div>
    <fm-pivot #pivot [toolbar]="true" [shareReportConnection]="{url: 'https://olap.flexmonster.com:9500'}"
        [height]="400" (ready)="onReady()" (beforetoolbarcreated)="customizeToolbar($event)"></fm-pivot>
</div>