/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "flexmonster/flexmonster.min.css";

#app {
    padding: 120px 0 60px;
    font-family: "Open Sans", "Arial", sans-serif, serif;
    color: #555;
    line-height: 1;
    font-size: 15px;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
}

a {
    color: #00a45a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.5;
}

.page-title {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 28px;
    font-weight: normal;
    line-height: 1.35714;
    color: #555555;
    text-align: center;
}

.button-red {
    border: 2px solid #df3800;
    background: #fff;
    color: #df3800;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px 5px 5px 0;
    display: inline-block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: normal;
    padding: 10px 10px;
    font-size: 14px;
}

.button-red:hover,
.button-red:focus {
    border: 2px solid #df3800;
    background: #df3800;
    color: #fff;
}

.button-red:focus {
    outline: none;
}