<h3 class="page-title">
    Customizing <a target="_blank" class="title-link" href="https://www.flexmonster.com/api/customizecell/">the grid cells</a>
</h3>

<div class="description-blocks">
    <app-toggle-button (clicked)="toggleCustomization($event)" [labenOn]="'The grid cells are customized'"
        [labenOff]="'The grid cells are not customized'" [_id]="'customizationToggle'"></app-toggle-button>
</div>

<fm-pivot #pivot [report]="report" [toolbar]="true" [customizeCell]="customizeCellFunction"></fm-pivot>
