<h1 class="page-title">Integrating with Highcharts</h1>

<div class="description-blocks first-description-block">
    <p>Integrate Flexmonster with Highcharts and see your data from a new perspective:
        <a href="https://www.flexmonster.com/doc/integration-with-highcharts/?r=rm_ng" target="_blank"
            class="title-link">Integration with Highcharts</a>.
    </p>
</div>

<div>
    <fm-pivot #pivot 
              [toolbar]="true"
              [shareReportConnection]="{url: 'https://olap.flexmonster.com:9500'}"
              [report]="'https://cdn.flexmonster.com/github/highcharts-report.json'"
              [height]="600"
              [licenseFilePath]="'https://cdn.flexmonster.com/jsfiddle.charts.key'"
              (reportcomplete)="onReportComplete()"
              (beforetoolbarcreated)="customizeToolbar($event)">
    </fm-pivot>
</div>

<div class="chart-container">
    <div id="highcharts-container"></div>
</div>
